{<<"app">>,<<"fast_yaml">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Fast YAML native library for Erlang / Elixir">>}.
{<<"files">>,
 [<<"LICENSE.txt">>,<<"README.md">>,<<"c_src/fast_yaml.c">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"src/fast_yaml.app.src">>,
  <<"src/fast_yaml.erl">>,<<"src/fast_yaml_app.erl">>,
  <<"src/fast_yaml_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/processone/fast_yaml">>}]}.
{<<"name">>,<<"fast_yaml">>}.
{<<"requirements">>,
 [{<<"p1_utils">>,
   [{<<"app">>,<<"p1_utils">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.18">>}]}]}.
{<<"version">>,<<"1.0.24">>}.
